:host {
    display: block;
    height: calc(100% - 50px);
    width: 100%;
    overflow: scroll;
    padding-top: 40px;
}

section {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 60px;
    row-gap: 60px;
    overflow: scroll;
    padding-block: 20px 60px; 
    padding-inline: 2px;
}